### Project ###

### Sensitive ###
.env
*.pem

### OSX and Windows ###
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

